<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Lane speed #<%= @lane_speed.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/lane_speeds" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/delete_lane_speed/<%= @lane_speed.id %>" class="btn btn-block btn-outline-secondary">
          Delete lane speed
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Sensor
      </dt>
      <dd>
        <%= @lane_speed.sensor_id %>
      </dd>

      <dt>
        Lane
      </dt>
      <dd>
        <%= @lane_speed.lane_id %>
      </dd>

      <dt>
        Speed
      </dt>
      <dd>
        <%= @lane_speed.speed %>
      </dd>

      <dt>
        Lane number
      </dt>
      <dd>
        <%= @lane_speed.lane_number %>
      </dd>

      <dt>
        Time
      </dt>
      <dd>
        <%= @lane_speed.time %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@lane_speed.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@lane_speed.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit lane speed
    </h2>

    <form action="/modify_lane_speed/<%= @lane_speed.id %>"  method="post" >
      <div class="form-group">
        <label for="sensor_id_box">
          Sensor
        </label>

        <input type="text" id="sensor_id_box" name="sensor_id_from_query" class="form-control" value="<%= @lane_speed.sensor_id %>">
      </div>

      <div class="form-group">
        <label for="lane_id_box">
          Lane
        </label>

        <input type="text" id="lane_id_box" name="lane_id_from_query" class="form-control" value="<%= @lane_speed.lane_id %>">
      </div>

      <div class="form-group">
        <label for="speed_box">
          Speed
        </label>

        <input type="text" id="speed_box" name="speed_from_query" class="form-control" value="<%= @lane_speed.speed %>">
      </div>

      <div class="form-group">
        <label for="lane_number_box">
          Lane number
        </label>

        <input type="text" id="lane_number_box" name="lane_number_from_query" class="form-control" value="<%= @lane_speed.lane_number %>">
      </div>

      <div class="form-group">
        <label for="time_box">
          Time
        </label>

        <input type="datetime-local" id="time_box" name="time_from_query"
          class="form-control" value="<%= @lane_speed.time %>">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update lane speed
      </button>
    </form>
  </div>
</div>

<hr>
