<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all requests
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new request
    </h2>

    <form action="/insert_request" method="post">
      <div class="form-group">
        <label for="begin_time_box">
          Begin time
        </label>

        <input type="time" id="begin_time_box" name="begin_time_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="end_time_box">
          End time
        </label>

        <input type="time" id="end_time_box" name="end_time_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="requestor_id_box">
          Requestor
        </label>

        <input type="text" id="requestor_id_box" name="requestor_id_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="speed_range_lower_limt_box">
          Speed range lower limt
        </label>

        <input type="text" id="speed_range_lower_limt_box" name="speed_range_lower_limt_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="speed_range_upper_limit_box">
          Speed range upper limit
        </label>

        <input type="text" id="speed_range_upper_limit_box" name="speed_range_upper_limit_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="sensor_id_box">
          Sensor
        </label>

        <input type="text" id="sensor_id_box" name="sensor_id_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="bounding_box_latitude_1_box">
          Bounding box latitude 1
        </label>

        <input type="text" id="bounding_box_latitude_1_box" name="bounding_box_latitude_1_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="bounding_box_latitude_2_box">
          Bounding box latitude 2
        </label>

        <input type="text" id="bounding_box_latitude_2_box" name="bounding_box_latitude_2_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="bounding_box_longitude_1_box">
          Bounding box longitude 1
        </label>

        <input type="text" id="bounding_box_longitude_1_box" name="bounding_box_longitude_1_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="bounding_box_longitude_2_box">
          Bounding box longitude 2
        </label>

        <input type="text" id="bounding_box_longitude_2_box" name="bounding_box_longitude_2_from_query" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create request
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Begin time
        </th>

        <th>
          End time
        </th>

        <th>
          Requestor
        </th>

        <th>
          Speed range lower limt
        </th>

        <th>
          Speed range upper limit
        </th>

        <th>
          Sensor
        </th>

        <th>
          Bounding box latitude 1
        </th>

        <th>
          Bounding box latitude 2
        </th>

        <th>
          Bounding box longitude 1
        </th>

        <th>
          Bounding box longitude 2
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @requests.each do |request| %>
      <tr>
        <td>
          <%= request.id %>
        </td>

        <td>
          <%= request.begin_time %>
        </td>

        <td>
          <%= request.end_time %>
        </td>

        <td>
          <%= request.requestor_id %>
        </td>

        <td>
          <%= request.speed_range_lower_limt %>
        </td>

        <td>
          <%= request.speed_range_upper_limit %>
        </td>

        <td>
          <%= request.sensor_id %>
        </td>

        <td>
          <%= request.bounding_box_latitude_1 %>
        </td>

        <td>
          <%= request.bounding_box_latitude_2 %>
        </td>

        <td>
          <%= request.bounding_box_longitude_1 %>
        </td>

        <td>
          <%= request.bounding_box_longitude_2 %>
        </td>

        <td>
          <%= time_ago_in_words(request.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(request.updated_at) %> ago
        </td>

        <td>
          <a href="/requests/<%= request.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
