<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all sensor types
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new sensor type
    </h2>

    <form action="/insert_sensor_type" method="post">
      <div class="form-group">
        <label for="sensor_type_box">
          Sensor type
        </label>

        <input type="text" id="sensor_type_box" name="sensor_type_from_query" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create sensor type
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Sensor type
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @sensor_types.each do |sensor_type| %>
      <tr>
        <td>
          <%= sensor_type.id %>
        </td>

        <td>
          <%= sensor_type.sensor_type %>
        </td>

        <td>
          <%= time_ago_in_words(sensor_type.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(sensor_type.updated_at) %> ago
        </td>

        <td>
          <a href="/sensor_types/<%= sensor_type.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
