<div class="row mb-3">
  <div class="col-md-12">
    <h2>
      List of all locations
    </h2>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new location
    </h2>

    <form action="/insert_location" method="post">
      <div class="form-group">
        <label for="latitude_box">
          Latitude
        </label>

        <input type="text" id="latitude_box" name="latitude_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="longitude_box">
          Longitude
        </label>

        <input type="text" id="longitude_box" name="longitude_from_query" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create location
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Latitude
        </th>

        <th>
          Longitude
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @locations.each do |location| %>
      <tr>
        <td>
          <%= location.id %>
        </td>

        <td>
          <%= location.latitude %>
        </td>

        <td>
          <%= location.longitude %>
        </td>

        <td>
          <%= time_ago_in_words(location.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(location.updated_at) %> ago
        </td>

        <td>
          <a href="/locations/<%= location.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
